.home-container {
    height: 100%;
    width: 100%;
    background: #fafafa;
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    z-index: 1;
    position: relative;
    background-image: url('https://bespokedemo.com/wp-content/uploads/2020/02/VM-API-HEADER.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home-container:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: rgba(47,79, 79, 0.8);
    height: 100%;
    width: 100%;
    z-index: -1;
}

.home-inner {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.data-container {
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    height: 700px;
    width: 100%;
    z-index: 1;
}

.corp-cont h1 {
    max-width: 99%;
    color: #fff;
    font-size: 7.5vw;
    text-align: left;
    padding: 0;
    margin: 0;
    line-height: 1em;
}

.sub-header h3 {
    max-width: 100%;
    color:rgba(212, 175, 55
    );
    font-size: 3vw;
    text-align: left;
    padding: 0;
    margin:0;
    font-weight: 500;
    margin-top: 30px;
}

.powered-by {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 30px;
}

.powered-by span {
    font-size: 2vw;
    font-weight: 400;
    margin-bottom: 20px;
    color: #fff;
}

.powered-by img {
    max-width: 250px;
}

.page-down {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    left: 0;
}

.page-down img {
    max-width: 50px;
    width: 50px;
}

.hamburger-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0;
}

.hamburger-menu img {
    max-width: 55px;
    height: auto;
}