.results-container {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-flow: column;
    max-height: 900px;
    height: 900px;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.results-inner {
    width: 90%;
    max-width: 90%;
    height: auto;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    max-height: 700px;
    height: 700px;
    box-shadow: 0.75rem 0.85rem 1.75rem 0 rgba(0,0,0,.32);
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
}   

.city-header {
    position: relative;
}

.city-header h2 {
    color: #29abe2;
    font-size: 2em;
    width: 100%;
    height: auto;
    text-align: center;
}

.cards {
    display: flex;
    position: relative;
    flex-flow: column;
    max-width: 300px;
    width: 300px;
    box-shadow: 0.75rem 0.85rem 1.75rem 0 rgba(0,0,0,.32);
    border-radius: 30px;
    margin-bottom: 50px;
    height: 435px;
    overflow: hidden;
    padding: 10px 5px;
    margin-left: 20px;
}

.top-card {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100px;
}

.opp-img {
    position: relative;
    display: flex;
    flex-flow: column;
    width: 30%;
    max-width: 30%;
    min-width: 30%;
    justify-content: center;
    align-items: center;
    height: 85%;
    padding: 10px;
}

.img-inner {
    position: relative;
    height: 100% !important;
    max-width: 100%;
    width: 100%;
    border-radius: 50%;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    box-shadow: 0.37rem 0.43rem 0.85rem 0 rgba(0,0,0,.32);
    overflow: hidden;
}

.img-inner img {
    max-width: 100%;
    height: auto;
    z-index: 1;
}

.org-date-cont {
    position: relative;
    display: flex;
    flex-flow: column;
    width: 75%;
    max-width: 75%;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding-left: 3%;
    padding-right: 3%;
    overflow: hidden;
}

.org-date-cont h3 {
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 5px;
    max-width: 100%;
    text-overflow: ellipsis;
}

.org-date-cont span {
    font-size: .8em;
    font-weight: 500;
    color: #ff0000;
}

.card-body {
    position: relative;
    height: 75%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.category-cont {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    z-index: 3;
    margin-top: 10px;
}

.category-cont-inner {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    min-height: 60px;
}

.category-cont-inner span {
    background-color: #323232;
    color: #fff;
    border-radius: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 11px;
    font-weight: 600;
}

.opp-title-cont {
    position: relative;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    text-align: left;
}

.opp-title {
    position: relative;
    width: 100%;
    max-width: 100%;
    text-overflow: ellipsis;
}

.date-range {
    width: 20%;
}

.opp-title h3 {
    padding: 0;
    margin: 0;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-range {
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-range h5 {
    font-size: 0.5em;
}


.opp-desc {
    position: relative;
    max-height: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: .8em;
    font-weight: 300;
    width: 100%;
    max-width: 100%;
}

.learn-more {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.learn-more a {
    background-color: #29abe2;
    padding: 10px;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.learn-more span {
    font-weight: 600;
}