.form-cont {
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding-top: 50px;
    padding-bottom: 50px;
}

.form-inner {
    width: 65%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.form-inner form {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.form-inner input[type="text"] {
    width: 95%;
    height: 50px;
    border-radius: 50px;
    background-color: #fafafa;
    border: 2px solid #29abe2;
    margin-bottom: 15px;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1.5em;
    box-shadow: 0.75rem 0.85rem 1.75rem 0 rgba(0,0,0,.32);
}

.text-input-label {
    font-size: 2em;
    text-align: center;
    padding-bottom: 15px;
    font-weight: 500;
    color: #1b1464;
}

.form-inner button {
    width: 60%;
    background-color: #29abe2;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 50px;
    font-size: 1.3em;
    font-weight: 800;
    box-shadow: 0.75rem 0.85rem 1.75rem 0 rgba(0,0,0,.32);
    color: #ff0000;
    border: none;
}

.form-inner button:hover {
    cursor: pointer;
}

.essential-msg {
    position: relative;
}

.essential-msg h4 {
    font-size: 20px;
}

.cat-check-parent {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0px;
}

.select-cat {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.cat-check-input {
    position: relative;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #29abe2;
    border-radius: 30px;
    padding: 0px 15px;
    margin-bottom: 20px;
}

.cat-check-input input[type="checkbox"], .virt-opp-cont input[type="checkbox"] {
    min-width: 20px;
    min-height: 20px;
    background-color: #29abe2;
    border: 1px solid #000;
}

.cat-check-input label, .virt-opp-cont label {
    font-size: 18px;
    margin-right: 15px;
}

.virt-opp-cont {
    position: relative;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 0px 15px;
    margin-bottom: 20px; 
}

.top-input-cont {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1024px) {
    .cat-check-input input[type="checkbox"], .virt-opp-cont input[type="checkbox"] {
        min-width: 0px;
        min-height: 0px;
        max-width: 80px;
        max-height: 80px;
    }
}