.footer {
    max-height: 80px;
    height: 80px;
    background-color: #11bbee;
    color: white;
    bottom: 0;
    min-width: 100%;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-footer {
    font-size: 20px;
}