.header {
    height: auto;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    top: 0;
    border-bottom: 2px solid #000;
}

.header img {
    max-width: 95px;
}